# pnpm specific files
node_modules
**/node_modules
.pnpm-debug.log
pnpm-debug.log

# VSCode specific files
.vscode
!.vscode/extensions.json
!.vscode/settings.json

# MacOS specific files
.DS_Store

# Local configs
.env.local
.env.*.local

